<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${name}">Profile</title>
    <link href="/css/layout.css" rel="stylesheet">
</head>
<body>
<a href="/" class="button home">Home</a>
<div class="profile-card">
    <div class="header">
        <h1 th:text="${profile.name}">Username</h1>
        <a th:href="@{/follow/{id}(id=${profile.id})}" class="button">Follow</a>
    </div>
    <div class="header">
        <p>Followers: <span th:text="${profile.followerSize}"></span></p>
        <p>Following: <span th:text="${profile.followingSize}"></span></p>
        <p>Joined <span th:text="${profile.joinDate}"></span></p>
    </div>
    <h2>My Posts</h2>
    <div class="posts">
        <div class="post-card" th:each="post : ${profile.getPostList()}">
            <div class="header">
                <h4 th:text="${profile.name}">Author name</h4>
                <small th:text="${post.postDate}">Post Date</small>
            </div>
            <div class="exercise" th:each="exerciseId : ${post.getExerciseIdList()}">
                <p th:text="${profile.getUserExercises().get(exerciseId).getType()}"></p>
                <span class="body-part" th:each="bodyPart : ${profile.getUserExercises().get(exerciseId).getBodyParts()}" th:text="${bodyPart}"></span>
            </div>
            <p> Likes <span th:text="${post.likes}">Post Likes</span></p>
            <p th:text="${post.description}"></p>
        </div>
    </div>
    <h2>My Liked Posts</h2>
    <div class="posts">
        <div class="post-card" th:each="post : ${profile.getLikedPostList()}">
            <div class="header">
                <h4 th:text="${name}">Author name</h4>
                <small th:text="${post.postDate}">Post Date</small>
            </div>
            <div class="exercise" th:each="exerciseId : ${post.getExerciseIdList()}">
                <span class="body-part" th:each="bodyPart : ${profile.getUserExercises().get(exerciseId).getBodyParts()}" th:text="${bodyPart}"></span>
            </div>
            <p> <span th:text="${post.likes}">Post Likes</span> likes</p>
            <p th:text="${post.description}"></p>
        </div>
    </div>
</div>
</body>
</html>